.area-atuacao{
    height: 100vh;
}

.area-atuacao__titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.area-atuacao__subtitulo{
    margin: 0 200px;
    text-align: center;
}

.area-atuacao__mapa{
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    top: 40%;
    width: 600px;
}

.slick-slide{
    height: 450px;
}

.slick-prev:before, .slick-next:before{
	color: black;
}