.sobre-nos{
    height: 100vh;
    margin-top: 80px;
}

.sobre-nos__titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.sobre-nos__container{
    background-color:aliceblue;
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    display: flex;
    height: 500px;
    left: 50%;
    position: relative;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 95%;
}

.sobre-nos__descricao{
    border-right: #000000 1px solid;
    font-size: 18px;
    height: 100%;
    padding: 20px 20px;
    text-align: left;
    width: 50%;
}

.sobre-nos__imagem{
    left: 75%;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
}
