.main__titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    left: 50%;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
}

.main__subtitulo{
    left: 50%;
    position: absolute;
    text-align: center;   
    top: 50%;
    transform: translate(-50%, -50%);
}

.seta{
    left: 50%;
    position: absolute;
    top: 80%;
    transform: translate(-50%,-50%);
}
.seta span{
    animation: animate 2s infinite;
    border-bottom: 5px solid #000;
    border-right: 5px solid #000;
    cursor: pointer;
    display: block;
    height: 30px;
    margin: -10px;
    transform: rotate(45deg);
    width: 30px;
}
.seta span:nth-child(2){
    animation-delay: -0.2s;
}
.seta span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

@media only screen and (max-width: 768px){
    .main__titulo{
        font-family: 'Dancing Script', cursive;
        font-size: 45px;
        left: 50%;
        position: absolute;
        top: 40%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 375px){
    .main__titulo{
        z-index: -1;
        font-size: 40px;
        left: 50%;
        position: absolute;
        top: 30%;
        transform: translate(-50%, -50%);
    }
    .main__subtitulo{
        z-index: -1;
        font-size: 15px;
        top: 50%;
    }
    .seta{
        z-index: -1;
    }
}